<!DOCTYPE HTML>
<html>
  <head>
    <meta  charset="utf-8">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!--<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">-->
      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
     <!--<link rel="stylesheet" href="static/stlyesheets/style.css">-->
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
          
    <title>{% block title%} {% endblock %}</title>
  </head>
  <body class ="content">
          
          <nav class="navbar navbar-light bg-primary justify-content-between ">
            <div class="container">
              
              <ul class="nav navbar-nav flex-row float-right">
                {% if session['username']  %}
                <li class="nav-item">
                  <a href="/users/{{session['username']}}/all" class="navbar-brand text-light">Top Stories</a>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search News
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/searchAll/{{session['username']}}/{{'all'}}">All News</a>
                    <a class="dropdown-item" href="/searchNews/{{session['username']}}/{{'all'}}">Search</a>
    
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/newsAll/{{'ar'}}">Arabic</a>
                    <a class="dropdown-item" href="/newsAll/{{'bn'}}">Bengali</a>
                    <a class="dropdown-item" href="/newsAll/{{'bg'}}">Bulgarian</a>
                    <a class="dropdown-item" href="/newsAll/{{'zh'}}">Chinese</a>
                    <a class="dropdown-item" href="/newsAll/{{'hr'}}">Croatian</a>
                    <a class="dropdown-item" href="/newsAll/{{'cs'}}">Czech</a>
                    <a class="dropdown-item" href="/newsAll/{{'da'}}">Danish</a>
                    <a class="dropdown-item" href="/newsAll/{{'nl'}}">Dutch</a>
                    <a class="dropdown-item" href="/newsAll/{{'en'}}">English</a>
                    <a class="dropdown-item" href="/newsAll/{{'et'}}">Estonian</a>
                    <a class="dropdown-item" href="/newsAll/{{'fi'}}">Finnish</a>
                    <a class="dropdown-item" href="/newsAll/{{'fr'}}">French</a>
                    <a class="dropdown-item" href="/newsAll/{{'de'}}">German</a>
                    <a class="dropdown-item" href="/newsAll/{{'el'}}">Greek</a>
                    <a class="dropdown-item" href="/newsAll/{{'he'}}">Hebrew</a>
                    <a class="dropdown-item" href="/newsAll/{{'hi'}}">Hindi</a>
                    <a class="dropdown-item" href="/newsAll/{{'hu'}}">Hungarian</a>
                    <a class="dropdown-item" href="/newsAll/{{'id'}}">Indonesian</a>
                    <a class="dropdown-item" href="/newsAll/{{'it'}}">Italian</a>
                    <a class="dropdown-item" href="/newsAll/{{'ja'}}">Japanese</a>
                    <a class="dropdown-item" href="/newsAll/{{'ko'}}">Korean</a>
                    <a class="dropdown-item" href="/newsAll/{{'lt'}}">Lithuanian</a>
                    <a class="dropdown-item" href="/newsAll/{{'no'}}">Norwegian</a>
                    <a class="dropdown-item" href="/newsAll/{{'fa'}}">Persian</a>
                    <a class="dropdown-item" href="/newsAll/{{'pl'}}">Polish</a>
                    <a class="dropdown-item" href="/newsAll/{{'es'}}">Spanish</a>
                    <a class="dropdown-item" href="/newsAll/{{'se'}}">Swedish</a>
                    <a class="dropdown-item" href="/newsAll/{{'tr'}}">Turkish</a>                  
                  </div>
                </li>
                
                
                {% if session['role'] =='admin' %}
                    <li class="nav-item">
                      <a class="nav-link text-light" href="/users/{{session['username']}}/add">Add User</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="/users/{{session['username']}}/update">Edit User</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pr-3 text-light" href="/users/{{session['username']}}/delete_account">Delete Account</a>
                      
                    </li>
                {% elif session['role'] =='guest' %}
                <li class="nav-item">
                  <a class="nav-link pr-3 text-light" href="/users/{{session['username']}}/delete">Delete Account</a>
                  
                </li>    
                {% endif %}
                <li><a class="nav-link pr-3 text-light" href="/logout">Logout</a></li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link pr-3 text-light" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/register">Sign up</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          <div class="container" style="margin-top: 2em">
            {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}}">{{ msg }}</div>
            {% endfor %}

          {% block content %}  
          {% endblock %}

          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <!--<script src="{{ url_for('static', filename='form.js') }}"></script>-->
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
          <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
          <!--<script src="static/stlyesheets/app.js"></script>-->

</body>
</html>