{% extends 'base.html'  %}

{% block content %}
 
    <div>
     
        {% for article in news['data'] %}
         
            <div class="panel-group" id="accordion_{{article.uuid}}">
                <div class="panel panel-default d-flex flex-column" id="panel_{{article.uuid}}">
                    <div class="p-2"><b>source:</b> {{ article.source }}</div>
                    <div class="p-2"><b>title:</b> {{ article.title }}</div>
 
                   
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#readmore_{{article.uuid}}" role="button" data-target="#readmore_{{article.uuid}}" aria-expanded="false" aria-controls="collapseExample">
                          Read More
                        </a>
                   
                    </p>
                    <div class="collapse" id="readmore_{{article.uuid}}">
                    <div class="card card-body" >
                        <div class="p-2"><b>snippet:</b> {{ article.snippet }}</div>
                        <div class="p-2"><b>description:</b>{{ article.description }}</div>
                        <div class="p-2"><b>published At:</b>{{ article.published_at }}</div>
                        <div class="p-2"><b>categories:</b>{{ article.categories[0] }}</div>
                        <div class="p-2"><a href="{{ article.url }}"> Visit to url </a></div>  
                    </div>
                    </div>
                    
                </div>
            </div>
          
        {%  endfor %}
      </div>
  </div>
 
{% endblock %}